<!DOCTYPE html> <%-include ('./partials/header')%>
<title>Your Passwords</title>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <p>The password(s) you searched:</p>
  <div class="password-search-container">
    <%for(var i=0;i < pass.length; i++){ %>
    <li>
      name: <%=pass[i].name%><br />
      Password: <%=pass[i].password%><br />
    </li>
    <% } %>
  </div>
</body>
