<!DOCTYPE html> <%-include ('./partials/header')%>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <p>The password you searched:</p>
  <div class="password-search-container">
    <p>
      name:
      <b
        ><%=pass[0].name%><br />
        Password: <%=pass[0].password%><br />

        <!-- Do you want to update this password?
        <form action="/enter" method="POST">
          <label for="name">Do you want to change the name?</label>
          <input type="text" name="name">
          <label for="password">Enter your own password</label>
          <input type="text" name="password" />
        </form> -->
      </b>
    </p>
  </div>
</body>
