<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<html>
  <%-include ('partials/header.ejs')%>
  <div class="password-input">
    <body>
      <form id="password-form" action="/passwordGenerator" method="POST">
        <label for="length">How long do you want your password to be?</label>
        <input type="number" name="length" /><br />
        <label for="specialCharacters"
          >Do you want spcial characters in your password? This will make it
          more secure</label
        >
        <input type="checkbox" name="specialCharacters" /><br />
        <input type="submit" name="submit" value="Get My Password" />
      </form>
    </body>
  </div>
</html>
