<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<html>
  <%-include ('partials/header.ejs')%>
  <a href="/passwordGenerator/allPasswords">View Your Saved Passwords</a>

  <div class="password-input">
    <body>
      <form id="password-form" action="/passwordGenerator/enter" method="POST">
        <label for="name">What is this password for?</label>
        <input type="text" name="name" /><br />
        <label for="length">How long do you want your password to be?</label>
        <input type="number" name="length" /><br />
        <label for="specialCharacters"
          >Do you want spcial characters in your password? This will make it more secure</label
        >
        <input type="checkbox" name="specialCharacters" /><br />
        <input type="submit" name="submit" value="Get My Password" />
      </form>

      <br />

      <div class="delete-password">
        <form action="/passwordGenerator/delete" method="POST">
          <label for="name"
            >What password would you like to delete? Please enter the name of the password
          </label>
          <input type="text" name="name" />
          <input type="submit" name="submit" value="Delete this password" />
        </form>
      </div>

      <br />

      <div class="search-passwords">
        <form action="/passwordGenerator/search" method="POST">
          <label for="name">What password are you looking for?</label>
          <input type="text" name="name" />
          <input type="submit" name="submit" value="Search" />
        </form>
      </div>
    </body>
  </div>
</html>
