<!DOCTYPE html>
<html>
  <%-include ('partials/header.ejs')%>
  <body>
    <form id="password-form" action="/passwordGenerator" method="POST">
      <label for="length">How long do you want your password to be?</label>
      <input type="text" name="length" /><br />
      <label for="specialCharacters"
        >Do you want spcial characters in your password? This will make it more
        secure</label
      >
      <input type="checkbox" name="specialCharacters" /><br />
      <label for="submit">Submit</label>
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
