<!DOCTYPE html> <%-include ('./partials/header')%>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <p>Your randomly generated password is: <b><%=pass.name%></b></p>
</body>
